RewriteEngine On
RewriteRule ^community(.*) /projects/projects$1 [redirect=permanent]
RewriteRule ^legal(.*) /projects/projects$1 [redirect=permanent]
RewriteRule ^other(.*) /projects/projects$1 [redirect=permanent]
RewriteRule ^technical(.*) /projects/projects$1 [redirect=permanent]
