RewriteEngine On

# TODO: The following rules must be fixed (the /projects/work directory doesn't exist)
RewriteRule ^community(.*) /projects/work$1 [redirect=permanent]
RewriteRule ^legal(.*) /projects/work$1 [redirect=permanent]
RewriteRule ^other(.*) /projects/work$1 [redirect=permanent]
RewriteRule ^technical(.*) /projects/work$1 [redirect=permanent]

# The following projects were moved to the /campaigns section
#
# RewriteRule ^PROJECTNAME(.*)         /campaigns/PROJECTNAME$1 [redirect=permanent]
RewriteRule ^agnula(.*)                /campaigns/agnula$1 [redirect=permanent]
RewriteRule ^bgw(.*)                   /campaigns/bgw$1 [redirect=permanent]
RewriteRule ^browserbundling(.*)       /campaigns/browserbundling$1 [redirect=permanent]
RewriteRule ^btw09(.*)                 /campaigns/btw09$1 [redirect=permanent]
RewriteRule ^eucd(.*)                  /campaigns/eucd$1 [redirect=permanent]
RewriteRule ^gbn(.*)                   /campaigns/gbn$1 [redirect=permanent]
RewriteRule ^gplv3(.*)                 /campaigns/gplv3$1 [redirect=permanent]
RewriteRule ^horizon2020(.*)           /campaigns/horizon2020$1 [redirect=permanent]
RewriteRule ^ipred2(.*)                /campaigns/ipred2$1 [redirect=permanent]
RewriteRule ^mankind(.*)               /campaigns/mankind$1 [redirect=permanent]
RewriteRule ^pdfreaders(.*)            /campaigns/pdfreaders$1 [redirect=permanent]
RewriteRule ^self(.*)                  /campaigns/self$1 [redirect=permanent]
RewriteRule ^stacs(.*)                 /campaigns/stacs$1 [redirect=permanent]
RewriteRule ^swpat(.*)                 /campaigns/swpat$1 [redirect=permanent]
RewriteRule ^wsis(.*)                  /campaigns/wsis$1 [redirect=permanent]
RewriteRule ^active(.*)html$           /campaigns/campaigns$1html [redirect=permanent]
RewriteRule ^finished(.*)html$         /campaigns/campaigns$1html [redirect=permanent]
RewriteRule ^inactive(.*)html$         /campaigns/campaigns$1html [redirect=permanent]


# The following projects were moved to the /activities section
#
# RewriteRule ^PROJECTNAME(.*)        /activities/PROJECTNAME$1 [redirect=permanent]
RewriteRule ^drm(.*)                  /activities/drm$1 [redirect=permanent]
RewriteRule ^education(.*)            /activities/education$1 [redirect=permanent]
RewriteRule ^os(.*)                   /activities/os$1 [redirect=permanent]
RewriteRule ^procurement(.*)          /activities/procurement$1 [redirect=permanent]
RewriteRule ^eu(.*)                   /activities/eu$1 [redirect=permanent]
RewriteRule ^ftf(.*)                  /activities/ftf$1 [redirect=permanent]
RewriteRule ^fla(.*)                  /activities/ftf$1 [redirect=permanent]
RewriteRule ^ms-vs-eu(.*)             /activities/ms-vs-eu$1 [redirect=permanent]
RewriteRule ^un(.*)                   /activities/un$1 [redirect=permanent]
RewriteRule ^wipo(.*)                 /activities/wipo$1 [redirect=permanent]
RewriteRule ^fp6(.*)                  /activities/fp6$1 [redirect=permanent]
RewriteRule ^fp7(.*)                  /activities/fp7$1 [redirect=permanent]
RewriteRule ^map(.*)                  /activities/map$1 [redirect=permanent]
RewriteRule ^igf(.*)                  /activities/igf$1 [redirect=permanent]


# The following projects were moved somewhere else
#
RewriteRule ^projects(.*)html(.*)     /projects$1html$2 [redirect=permanent]
RewriteRule ^work(.*)html(.*)         /work$1html$2 [redirect=permanent]
RewriteRule ^leaflet-fellowship-FSA(.*)html(.*) /about/printable/leaflet-fellowship-FSA$1html$2 [redirect=permanent]
