RewriteEngine On
RewriteRule ^fp6(.*) /projects/fp6$1 [redirect=permanent]
RewriteRule ^whatwedo(.*) /about/basics/whatwedo$1 [redirect=permanent]
RewriteRule ^gnuproject(.*) /about/basics/gnuproject$1 [redirect=permanent]
RewriteRule ^whyweexist(.*) /about/basics/whyweexist$1 [redirect=permanent]
RewriteRule ^freesoftware(.*) /about/basics/freesoftware$1 [redirect=permanent]
RewriteRule ^preamble(.*) /about/history/preamble$1 [redirect=permanent]
RewriteRule ^doi(.*) /about/history/doi$1 [redirect=permanent]
RewriteRule ^msooxml(.*) /projects/os/msooxml$1 [redirect=permanent]
RewriteRule ^iprip(.*) /projects/wipo/iprip$1 [redirect=permanent]
RewriteRule ^wiwo(.*) /projects/wipo/wiwo$1 [redirect=permanent]
RewriteRule ^printable/(.*) /about/printable/$1 [redirect=permanent]
RewriteRule ^reports/(.*) /about/reports/$1 [redirect=permanent]
RewriteRule ^rms-fs-2006-03-09(.*) /freesoftware/transcripts/rms-fs-2006-03-09$1 [redirect=permanent]
