global/data/texts/.texts.??.xml
global/data/topbanner/.topbanner.??.xml
.default.xsl
.localmenu.*.xml
.*.xmllist
# Local build stuff
output
# Python stuff
.venv
__pycache__
uv.lock
#Nltk
.nltk_data

# Secrets
# docker compose
.env
# drone
secrets.txt
