global/data/texts/.texts.??.xml
global/data/topbanner/.topbanner.??.xml
.default.xsl
.localmenu.*.xml
.*.xmllist
# Local build stuff
output
# Python venv
.venv
__pycache__
#Nltk
.nltk_data

# Secrets
# docker compose
.env
# drone
secrets.txt
