RewriteEngine On
RewriteRule ^education(.*) /projects/education$1 [redirect=permanent]
RewriteRule ^ftf(.*) /projects/ftf$1 [redirect=permanent]
RewriteRule ^gbn(.*) /projects/gbn$1 [redirect=permanent]
RewriteRule ^law/eucd/(.*) /projects/eucd$1 [redirect=permanent]
RewriteRule ^law(.*) /projects/law$1 [redirect=permanent]
RewriteRule ^swpat(.*) /projects/swpat$1 [redirect=permanent]
RewriteRule ^donate.html /help/donate.en.html [redirect=permanent]
