/* ========================================================================= */
/* Style sheet for fsfeurope.org                                             */
/* ========================================================================= */

/* Colors to use:
 * #202D79 - fsfe blue (the letters "fsfe" in the logo)
 * #3394CE - blue dark (the bottom star)
 * #4AD2F0 - blue medium (the middle star)
 * #6BB340 - green mix (the overlap of the middle and the top star)
 * #D0F400 - green (the top star)
 * */

/* ------------------------------------------------------------------------- */
/* General definitions                                                       */
/* ------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 1em 0;
  background: #FDFDFD;
  color: #151515;
  font-family: Nimbus Sans L, Helvetica, Verdana, sans-serif;
  font-size: 100.01%;           /* FIXME: What does this do? */
}

a {
  color: #202D79;
}

a:visited {
  color: #314C14;               /* like green mix, but darker */
}

/* ------------------------------------------------------------------------- */
/* Logo and Focus                                                            */
/* ------------------------------------------------------------------------- */

td.focus-box {
  border-left: thin solid #202D79;
  width: 13em;
}

/* ------------------------------------------------------------------------- */
/* Language List                                                             */
/* ------------------------------------------------------------------------- */

td.line {
  border-top: thin solid #202D79;
  border-bottom: thin solid #202D79;
}

.line a {
  text-decoration: none;
}

.line a:visited {
  color: #202D79;
}

.line a:hover, .line a:active, .line a:focus {
  background: #D0F400;
}

/* ------------------------------------------------------------------------- */
/* Menu                                                                      */
/* ------------------------------------------------------------------------- */

td.menu {
  border-left: thin solid #202D79;
  width: 13em;
  padding: 1em;
  vertical-align: top;
}

a.menu {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border: 0;
}

a.submenu {
  display: block;
  text-decoration: none;
  font-size: 13px;
  padding-left: 2em;
  border: 0;
}

a.menu:visited, a.submenu:visited {
  color: #202D79;
}

a.menu:hover, a.menu:active, a.menu:focus, a.submenu:hover, a.submenu:active, a.submenu:focus {
  background: #D0F400;
}

/* ------------------------------------------------------------------------- */
/* Content                                                                   */
/* ------------------------------------------------------------------------- */

td.body {
  padding: 0 1.5em;
  width: 99%;
  vertical-align: top;
}

.body {
  margin-left 20px;
  margin-right 20px;
}

.body h1 {
  text-align: center;
  color: #202D79;
}

.body h2 {
  margin-left 0px;
  color: #202D79;
}

.body h3 {
  margin-left 0px;
  color: #202D79;
}

/* ------------------------------------------------------------------------- */
/* Styles used only on some pages                                            */
/* ------------------------------------------------------------------------- */

/* News and event items */

table.news {
  margin: 0px;
  border-spacing: 0px;
  padding: 4px;
}

td.newstitle {
  margin: 0px;
  border-bottom: thin solid #202D79;
  border-left: thin solid #202D79;
  padding: 4px;
  text-align: left;
  font-weight: bold;
}

td.newsdate {
  margin: 0px;
  border-bottom: thin solid #202D79;
  padding: 4px;
  text-align: right;
  font-weight: bold;
}

/* Project list */

th.projects {
  width: 20%;
}

td.projects {
  vertical-align: top;
}

/* Other stuff */

/* FIXME: replace with something else! */
.indent	{
  margin-right: 30px;
  margin-left: 40px;
}

/* FIXME: Use blockquote instead for real quotations */
.quote {
  font-style:italic;
  margin-right: 40px;
  margin-left: 50px;
}

p.footnote {
  margin-right: 30px;
  margin-left: 40px;
}

/* FIXME: this is probably not really code... */
code.footnote {
  font-weight: bold;
}

/* FIXME: Use <strong> instead */
span.emph {
  font-weight: bold;
}
