services:
  pre-commit:
    build:
      context: .
      dockerfile: pre-commit.Dockerfile
    image: fsfe-websites-pre-commit
    volumes:
      - ${FSFE_WEBSITE_HOST_SOURCE_CODE:-./}:/website-source
  build:
    build:
      context: .
      dockerfile: build.Dockerfile
    image: fsfe-websites-build
    ports:
      - 2000:2000
      - 2100:2100
      - 2200:2200
      - 2300:2300
      - 2400:2400
      - 2500:2500
    secrets:
      - FSFE_WEBSITE_KEY_PRIVATE
      - FSFE_WEBSITE_KEY_PASSWORD
      - FSFE_WEBSITE_GIT_TOKEN
    volumes:
      - website-cache:/website-cached
      - dependency-cache:/root/.cache/fsfe-website-build
      - ${FSFE_WEBSITE_HOST_SOURCE_CODE:-./}:/website-source
volumes:
  website-cache:
  dependency-cache:
secrets:
  FSFE_WEBSITE_KEY_PRIVATE:
    environment: FSFE_WEBSITE_KEY_PRIVATE
  FSFE_WEBSITE_KEY_PASSWORD:
    environment: FSFE_WEBSITE_KEY_PASSWORD
  FSFE_WEBSITE_GIT_TOKEN:
    environment: FSFE_WEBSITE_GIT_TOKEN
