/* ========================================================================= */
/* Style sheet for fsfeurope.org                                             */
/* ========================================================================= */

/* Colors to use:
 * #202D79 - fsfe blue (the letters "fsfe" in the logo)
 * #3394CE - blue dark (the bottom star)
 * #4AD2F0 - blue medium (the middle star)
 * #6BB340 - green mix (the overlap of the middle and the top star)
 * #D0F400 - green (the top star)
 * */


/* ------------------------------------------------------------------------- */
/* General definitions                                                       */
/* ------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #FDFDFD;
  color: rgb(50,50,50);
  /* font-family: Nimbus Sans L, Helvetica, Verdana, sans-serif; */
  font-family: sans-serif;      /* Much better readable than Nimbus Sans L */
  font-size: 100.01%;           /* Fix for IE */
}

a, a:link {
  /* 
   * To make links more visible, we use a slightly more blue-ish color,
   * instead of the default #202D79
   */
  /*color: rgb(51,148,206);*/
  color: #0066cc;
  text-decoration: none;
}

a:visited {
  color: #3394CE;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  /*color: #6BB340;*/
  background-color: rgb(224,242,194);
  color: rgb(97,131,0);
  text-decoration: none;
}

/* Generally avoid borders around images */
img,
a img {
  border: 0;
}

img.right {
	float: right;
	margin: 0 0 1em 1em;
}

/* avoid hover effects and borders on internal marks and graphical links */
a[name], a[name]:hover, a.gl img, a.gl:link, a.gl:visited, a.gl:hover {
  border: none;
  background: #FDFDFD;
  text-decoration: none;
}

#wrapper {
  margin: 0;
  padding: 0 1em 0 1em;
}

/* invisible except in text based browsers */
.n {
  display: none;
}

/* attempts to resemble typographical block quotations */
/* FIXME: Use blockquote instead for real quotations */
blockquote, .quote {
  font-size: 90%;
  font-style: italic;
  line-height: 115%;
  margin-left: 5em;
  margin-right: 5em;
}

address {
  margin-left: 1em;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-bottom: .5em;
}


/* ------------------------------------------------------------------------- */
/* Logo                                                                      */
/* ------------------------------------------------------------------------- */

#logo {
  margin: 1em 0;
}

#logo a,
#logo a img {
  margin: 0;
  padding: 0;
}

#logo a:hover {
	background: transparent;
}


/* ------------------------------------------------------------------------- */
/* Menu                                                                      */
/* ------------------------------------------------------------------------- */

#menu {
  float: left;
  margin: 0;
  padding: 0;
  width: 220px;
}

#menu ul {
  margin: 0;
  background: url("/graphics/corner.png") top left no-repeat;
  padding: 1em 0 1em 1.4em;
}

#menu ul ul {
  background: none;
  padding: 0 0 0 .6em;
}

#menu ul li {
  margin: 0.4em 0 0 0;
  list-style: none;
}

#menu ul ul li {
  margin: 0;
}

#menu a:hover img {
	background: transparent;
}


/* ------------------------------------------------------------------------- */
/* Localmenu                                                                 */
/* ------------------------------------------------------------------------- */

.localmenu p {
  text-align: center;
}

.local_menu_item {
   font-weight: bold;
}


/* ------------------------------------------------------------------------- */
/* Language List                                                             */
/* ------------------------------------------------------------------------- */

#language {
  margin: 0 0 0 220px;
  padding: 0.3em 0 0.4em 1em;
  font-size: 90%;
}

#language ul {
  margin: 0;
  padding: 0;
}

#language ul li {
  display: inline;
  margin: 0 0.5em 0 0;
  list-style: none;
}

#language p {                           /* used for outdated/missing note */
  margin: 1em 0 0 0;
  border: 1px #ccc solid;
  padding: 0.3em;
  background-color: #f4f8fa;
}


/* ------------------------------------------------------------------------- */
/* Content                                                                   */
/* ------------------------------------------------------------------------- */

#content {
  margin: 3em 0 0 220px;
  padding: 0 0 1em 1em;
}

#content h1,
#content h2,
#content h3 {
  color: #202D79;
}

#content h1 {
  text-align: center;
}

#content h2 {
  margin-top: 2em;
}

#content h3 {
  margin-top: 1.5em
}

.imgright {
  float: right;
  margin: 0 0 1em 1em;
}

.postit {
  float: left;
  margin: 0 1em 1em 0;
  border: 1px #000 solid;
  padding: 0.3em;
  width: 14em;
  background: #FFECBF;
  text-align: center;
}

.fineprint {
	color: rgb(120,120,120);
	font-size: 90%;
	border-top: 1px solid	rgb(220,220,220);
	padding: 1em .5em;
	margin: 1em -.5em;
}

.tagline {
    color: #202D79;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.toolbox {
    background-color: rgb(244,248,250);
    float: right;
    font-size: 85%;
    margin: .5em 0 0 1em;
    padding: 1em;
    width: 12em;
}

p.terminal,
pre.terminal,
p.file,
pre.file {
    font-family: monospace;
    padding: .5em 1em;
}

p.terminal,
pre.terminal {
    background-color: rgb(50,50,50);
    border-left: 10px solid rgb(97,97,97);
    color: white;
}

p.file,
pre.file {
    background-color: rgb(244,248,250);
    border-left: 10px solid rgb(141,172,190);
    color: rgb(50,50,50);
}


/* tables */
table {
    border-collapse: collapse;
}

table th,
table td {
    padding: .2em .5em;
}

table th+th,
table td+td {
    border-left: 1px solid #ccc;
}

table th {
    border-bottom: 1px solid #202d79;
    border-top: 1px solid #202d79;
    color: #202d79;
    background-color: #f4f8fa;
}

table td {
    border-bottom: 1px solid #ccc;
}

table td.positive {
    background-color: #d0ffd0;
}

table td.negative {
    background-color: #ffd0d0;
}


/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */

#footer {
  clear: both;
  border: 5px #FDFDFD solid;    /* IE workaround */
  padding: 0.5em;
  text-align: center;
  font-size: 90%;
}


/* ------------------------------------------------------------------------- */
/* Styles used only on some pages                                            */
/* ------------------------------------------------------------------------- */

/* News and events on front page */

#news,
#events {
	width: 49%;
}

#news h2,
#events h2 {
	text-align: center;
}

#news h3,
#events h3 {
	color: black;
	font-size: 100%;
	margin-right: 6.2em;
}

#news .entry,
#events .event {
	margin-bottom: 1.8em;
}

#news .date,
#events .date {
	color: #888;
	float: right;
	margin-top: -2.2em;
}

#news .tools,
#events .tools {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

#news {
	padding-right: 2%;
	float: left;
}

#events {
	float: right;
}


/* Project list */

th.projects {
  width: 20%;
}

td.projects {
  vertical-align: top;
}


/* Other stuff */

/* FIXME: replace with something else! */
.indent	{
  margin-right: 30px;
  margin-left: 40px;
}

p.footnote {
  margin-right: 30px;
  margin-left: 40px;
}

/* FIXME: this is probably not really code... */
code.footnote {
  font-weight: bold;
}

/* FIXME: Use <strong> instead */
span.emph {
   font-weight: bold;
}

ul.spaced li, ol.spaced li { /* Spaced listings, use this instead of <br /> */
	margin-bottom: 0.8em;
}

.background { /* For background information */
  margin-left: 1.5em;
  margin-right: 2em;
}

.aboutfsfe { /* For press release section "About the FSFE" */
  font-style: italic;
  margin-left: 2em;
}


/* Merchandise */
#merchandise {
  width: 100%;
}

#merchandise .image {
  padding-right: 1em;
  text-align: center;
}

#merchandise .description {
  vertical-align: top;
}

#merchandise .quantity {
  text-align: right;
  vertical-align: middle;
  width: 10%;
}

#merchandise .quantity p {
  margin: 0;
}

#merchandise .quantity input {
  vertical-align: middle;
}

#merchandise tr {
  border-bottom: 1px solid #f4f8fa;
  padding-bottom: 1.2em;
}
