/* ========================================================================= */
/* Style sheet for fsfeurope.org                                             */
/* ========================================================================= */

/* Colors to use:
 * #202D79 - fsfe blue (the letters "fsfe" in the logo)
 * #3394CE - blue dark (the bottom star)
 * #4AD2F0 - blue medium (the middle star)
 * #6BB340 - green mix (the overlap of the middle and the top star)
 * #D0F400 - green (the top star)
 * */

/* ------------------------------------------------------------------------- */
/* General definitions                                                       */
/* ------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #FDFDFD;
  color: #000000;
  /* font-family: Nimbus Sans L, Helvetica, Verdana, sans-serif; */
  font-family: sans-serif;      /* Much better readable than Nimbus Sans L */
  font-size: 100.01%;           /* Fix for IE */
}

a, a:link {
  color: #202D79;
  text-decoration: none;
}

a:visited {
  color: #3394CE;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #6BB340;
  text-decoration: none;
}

/* Generally avoid borders around images */
img {
  border: 0;
}

/* avoid hover effects and borders on internal marks and graphical links */
a[name], a[name]:hover, a.gl img, a.gl:link, a.gl:visited, a.gl:hover {
  border: none;
  background: #FDFDFD;
  text-decoration: none;
}

.page {
  margin: 0;
  padding: 0 0 0 1em;
}

/* invisible except in text based browsers */
.n {
  display: none;
}

/* ------------------------------------------------------------------------- */
/* Logo                                                                      */
/* ------------------------------------------------------------------------- */

.logo {
  margin: 1em;
}

.logo a, .logo a img {
  margin: 0;
  padding: 0;
}

.logo a, .logo a:link, .logo a:visited {
  border: none;
}

/* ------------------------------------------------------------------------- */
/* Menu                                                                      */
/* ------------------------------------------------------------------------- */

.menu {
  float: left;
  margin: 0;
  padding: 0;
  width: 13em;
  min-width: 180px;             /* ignored by IE 6 */
}

.menu ul {
  margin: 0;
  background: url(/graphics/corner.png) top left no-repeat;
  padding: 1em 0 1em 1.4em;
}

.menu li {
  margin: 0.4em 0 0 0;
  list-style: none;
}

.menu li.submenu {
  margin: 0;
  padding-left: 0.6em;
}

/* ------------------------------------------------------------------------- */
/* Language List                                                             */
/* ------------------------------------------------------------------------- */

.language {
  margin: 0 0 0 14em;
  padding: 0.3em 1em 0.4em 1em;
  font-size: 90%;
}

.language img {
  float: right;
  margin: 0 0 0.3em 0; /* make sure image doesn't touch outdated note below */
}

.language ul {
  margin: 0;
  padding: 0 0 0 2em; /* FIXME: why does it need 2em to align with text?? */
}

.language li {
  display: inline;
  margin: 0 0.5em 0 0;
  list-style: none;
}

.language p {                           /* used for outdated/missing note */
  clear: right;
  margin: 1em 0 0 2em;
  border: 1px #000 solid;
  padding: 0.3em;
  background: #FFECBF;
}

/* ------------------------------------------------------------------------- */
/* Content                                                                   */
/* ------------------------------------------------------------------------- */

.content {
  clear: right;         /* make sure to go below "Join the Fellowship" */
  margin: 3em 0 0 14em;
  padding: 0 1em 1em 1em;
}

.content h1 {
  text-align: center;
  color: #202D79;
}

.content h2, h3 {
  color: #202D79;
}

.imgright {
  float: right;
  margin: 0 0 1em 1em;
}

.postit {
  float: left;
  margin: 0 1em 1em 0;
  border: 1px #000 solid;
  padding: 0.3em;
  width: 14em;
  background: #FFECBF;
  text-align: center;
}

p.tagline {
	color: #202D79;
	font-size: 140%;
	font-weight: bold;
	text-align: right;
}

/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */

.footer {
  clear: both;
  border: 5px #FDFDFD solid;    /* IE workaround */
  padding: 0.5em;
  text-align: center;
  font-size: 90%;
}

/* ------------------------------------------------------------------------- */
/* Styles used only on some pages                                            */
/* ------------------------------------------------------------------------- */

/* News and event items (old, based on table) */

table.news {
  margin: 0px;
  border-spacing: 0px;
  padding: 4px;
}

td.newstitle {
  margin: 0px;
  padding: 4px;
  text-align: left;
  font-weight: bold;
}

td.newsdate {
  margin: 0px;
  padding: 4px;
  color: #888;
  text-align: right;
  font-weight: normal;
}

/* News and event items (new, based on dt and dd) */

.newsleft {
  clear: right;
  float: left;
  width: 45%;
}

.newsright {
  border: 1px #FDFDFD solid;
  padding-left: 47%;
}

.newsleft dt, .newsright dt {
  padding: 0 0 1em 0;
  font-weight: bold;
} 

.newsleft dt span, .newsright dt span {
  float: right;
  margin: 0 0 0 0.5em;
  padding: 0;
  color: #888;
  font-weight: normal;
}

.newsleft dd, .newsright dd {
  margin: 0;
  padding: 0 0 2em 0;
}

.newsleft dd ul, .newsright dd ul {
  margin: 0;
  padding: 0;
}

.newsleft dd li, .newsright dd li {
  padding-left: 0.5em;
  list-style: none;
}

/* Project list */

th.projects {
  width: 20%;
}

td.projects {
  vertical-align: top;
}

/* Other stuff */

/* FIXME: replace with something else! */
.indent	{
  margin-right: 30px;
  margin-left: 40px;
}

/* FIXME: Use blockquote instead for real quotations */
.quote, blockquote {
  font-style:italic;
  margin-right: 5em;
  margin-left: 5em;
}

address{
  margin-left: 1em;
}

p.footnote {
  margin-right: 30px;
  margin-left: 40px;
}

/* FIXME: this is probably not really code... */
code.footnote {
  font-weight: bold;
}

/* FIXME: Use <strong> instead */
span.emph {
  font-weight: bold;
}

.background{ /* For background information */
 margin-left: 1.5em;
 margin-right:2em;
}

.aboutfsfe{ /* For press release section "About the FSFE" */
 font-style:italic;
 margin-left: 2em;
}
