# XML parser
lxml==5.3.0
# For getting english language names of languages from two letter codes.
python-iso639==2024.10.22
# For stopwords for the search index
nltk==3.9.1
# For minification html, css and js
tdewolff-minify==2.20.37
# For enforcing typing on funcs
# Only used if ran with test flag
typeguard==4.4.1
