/* ========================================================================= */
/* Style sheet for fsfeurope.org                                             */
/* ========================================================================= */

/* Colors to use:
 * #202D79 - fsfe blue (the letters "fsfe" in the logo)
 * #3394CE - blue dark (the bottom star)
 * #4AD2F0 - blue medium (the middle star)
 * #6BB340 - green mix (the overlap of the middle and the top star)
 * #D0F400 - green (the top star)
 * */


/* ------------------------------------------------------------------------- */
/* General definitions                                                       */
/* ------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #FDFDFD;
  color: rgb(50,50,50);
  /* font-family: Nimbus Sans L, Helvetica, Verdana, sans-serif; */
  font-family: sans-serif;      /* Much better readable than Nimbus Sans L */
  font-size: 100.01%;           /* Fix for IE */
	line-height: 120%;
}

a, a:link {
  /* 
   * To make links more visible, we use a slightly more blue-ish color,
   * instead of the default #202D79
   */
  color: #0066cc;
  text-decoration: none;
}

a:visited {
  color: #3394CE;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  /*color: #6BB340;*/
  background-color: rgb(224,242,194);
  color: rgb(97,131,0);
  text-decoration: none;
}

/* Generally avoid borders around images */
img,
a img {
  border: 0;
}

img.right {
	float: right;
	margin: 0 0 1em 1em;
}

/* avoid hover effects and borders on internal marks and graphical links */
a[name], a[name]:hover, a.gl img, a.gl:link, a.gl:visited, a.gl:hover {
  border: none;
  background: #FDFDFD;
  text-decoration: none;
}

#wrapper {
  margin: 0;
  padding: 0 1em 0 1em;
}

/* invisible except in text based browsers */
.n {
  display: none;
}

/* attempts to resemble typographical block quotations */
/* FIXME: Use blockquote instead for real quotations */
blockquote,
.quote {
  font-style: italic;
  border-left: .5em solid rgb(210,210,210);
  padding-left: .8em;
  margin-left: .3em;
}

blockquote cite,
.quote cite {
  display: block;
  font-style: normal;
  line-height: 120%;
}

blockquote cite:before,
.quote cite:before {
  content: "— ";
}

address {
  margin-left: 1em;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-bottom: .5em;
}


/* ------------------------------------------------------------------------- */
/* Logo                                                                      */
/* ------------------------------------------------------------------------- */

#logo {
  margin: 1em 0;
}

#logo a,
#logo a img {
  margin: 0;
  padding: 0;
}

#logo a:hover {
	background: transparent;
}


/* ------------------------------------------------------------------------- */
/* Menu                                                                      */
/* ------------------------------------------------------------------------- */

#menu {
  /*float: left;*/
  margin: 0;
  padding: 0;
  left: 1em;
  position: absolute;
  width: 220px;
}

#menu ul {
	padding: 1em 0 1em 1.4em;
  /*background: url("/graphics/corner.png") top left no-repeat;*/
  margin: 0;
}

#menu ul ul {
  background: none;
  padding: 0 0 0 .6em;
}

#menu ul li {
  margin: 0.4em 0 0 0;
  list-style: none;
}

#menu ul ul li {
  margin: 0;
}

#menu a:hover img {
	background: transparent;
}




/* ------------------------------------------------------------------------- */
/* Localmenu                                                                 */
/* ------------------------------------------------------------------------- */

.localmenu p {
}

.local_menu_item {
   font-weight: bold;
}


/* ------------------------------------------------------------------------- */
/* Search box                                                                */
/* ------------------------------------------------------------------------- */

#menu #search {
  margin: 0;
  padding: 0;
}

#menu #search input[type=text] {
  padding-right: 2.2em;
  width: 160px;
}

#menu #search input[type=image] {
  border: 0;
  background-color: transparent;
  margin: -3px 0 0 -34px;
}


/* ------------------------------------------------------------------------- */
/* Language List                                                             */
/* ------------------------------------------------------------------------- */

#language {
	margin: 0 0 0 240px;
	/*float: right;
	margin: 0;
	width: 79.5%;*/
  font-size: 90%;
  min-height: 2.2em;
  padding: .3em .5em;
}

#language ul {
  margin: 0;
  padding: 0;
}

#language ul li {
  display: inline;
  margin: 0 0.5em 0 0;
  list-style: none;
}

#language p {                           /* used for outdated/missing note */
  margin: 1em 0 0 0;
  border: 1px #ccc solid;
  padding: 0.3em;
  background-color: #f4f8fa;
}


/* ------------------------------------------------------------------------- */
/* Fundraising box                                                           */
/* ------------------------------------------------------------------------- */

#fundraising {
  margin: 1em 0 0 220px;
  padding: 0 0 0 1em;
}

#fundraising div.box {
  border: 1px solid #dbb65e;
  padding: 0.6em 1em 0.6em 1em;
  background-color: #ffecbf; 
}

#fundraising p.call1 {
  margin: 0 0 .5em 0;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

#fundraising p.call2 {
  margin: .3em 0 .5em 0;
  text-align: center;
}

#fundraising div.percentbox {
  margin: 1em 0 .5em 0;
  border: 1px solid #202d79;
  background-color: #4ad2f0;
}

#fundraising div.percentbar {
  height: 1em;
  background-color: #3394ce;
}

#fundraising p.current {
  float: left;
  margin: 0;
  text-align: left;
}

#fundraising p.target {
  margin: 0;
  text-align: right;
}


/* banner */
#banner {
	text-align: center;
	padding: 0 .5em 2em .5em;
margin-top: -1.3em;
margin-bottom: 1.3em;
}

#banner img {
	max-width: 100%;
}


/* ------------------------------------------------------------------------- */
/* Content                                                                   */
/* ------------------------------------------------------------------------- */

#content {
  margin: 3em 0 0 240px;
	/*float: right;*/
	/*margin: 3em 0 0 0;*/
  min-height: 500px;
	padding: 0 .5em .5em;
	/*width: 79%;*/
}

#content h1,
#content h2,
#content h3 {
  color: #202D79;
  line-height: 100%;
}

#content h1 {
	border-bottom: 1px solid rgb(210,210,210);
	font-size: 250%;
	margin: 0 -.2em;
	padding: 0 0 .5em .2em;
}

#content .centre {
	text-align: center;
}

#content h1.centre {
	border: 0;
	margin: 0;
	padding: 0;
}

#content h2 {
  margin-top: 2em;
}

#content h3 {
	font-size: 130%;
  margin-top: 1.5em
}

#content p#category {
	font-size: 140%;
	font-weight: bold;
	line-height: 200%;
	margin: 0;
}

#content .image {
	background-color: #FDFDFD;
	float: left;
	padding: 0 2em 2em 0;
}

#content .image.right {
	float: right;
	padding: 0 0 2em 2em;
}

#content .image p {
	border-bottom: 1px solid rgb(210,210,210);
	border-left: 1px solid rgb(210,210,210);
	border-right: 1px solid rgb(210,210,210);
	font-size: 90%;
	margin-top: 0;
	padding: .5em;
}

#content .image .photographer {
	font-size: 90%;
	font-style: italic;
}

.imgright {
  float: right;
  margin: 0 0 1em 1em;
}

.postit {
  float: left;
  margin: 0 1em 1em 0;
  border: 1px #000 solid;
  padding: 0.3em;
  width: 14em;
  background: #FFECBF;
  text-align: center;
}

.fineprint {
	color: rgb(120,120,120);
	font-size: 90%;
	border-top: 1px solid	rgb(220,220,220);
	padding: 1em .5em;
	margin: 3em -.5em 1em;
}

.tagline {
    color: #202D79;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.toolbox {
    background-color: rgb(244,248,250);
    float: right;
    font-size: 85%;
    margin: .5em 0 0 1em;
    padding: 1em;
    width: 12em;
}

p.terminal,
pre.terminal,
p.file,
pre.file {
    font-family: monospace;
    padding: .5em 1em;
}

p.terminal,
pre.terminal {
    background-color: rgb(50,50,50);
    border-left: 10px solid rgb(97,97,97);
    color: white;
}

p.file,
pre.file {
    background-color: rgb(244,248,250);
    border-left: 10px solid rgb(141,172,190);
    color: rgb(50,50,50);
}

#introduction {
	border-bottom: 1px solid rgb(210,210,210);
	float: left;
	font-size: 105%;
	margin: 0 -.5em 2em -.5em;
	min-height: 60px;
	padding: 1em .5em;
	width: 100%;
}

#introduction p,
p#introduction {
	line-height: 190%;
}

#introduction > * {
  clear: left;
}

/*
 * This expands #introduction until all content has been printed, so it
 * doesn't flow outside of the element.
 */
#introduction p::after {
	content: "";
	clear: both;
	height: 1px;
	overflow: hidden;
}

#introduction .image {
	margin: .5em;
	padding-bottom: 0;
}

#introduction .read_more {
	margin: 0 -1em;
	padding: 0 1em 1em 0;
	text-align: right;
}


/* form validation */
#form_validation_errors,
#flash {
  border: 1px solid #ccc;
  padding: 0 1em;
  margin-bottom: 1em;
}

#form_validation_errors {
	background-color: rgb(245,215,205);
	color: rgb(236,54,53);
}

#flash {
  background-color: #f4f8fa;
  color: rgb(107,179,64);
}


/* press releases */
dl#press-releases dt {
	font-weight: normal;
	color: rgb(120,120,120);
	position: absolute;
}

dl#press-releases dd {
	margin-left: 6em;
}


/* tables */
table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

table th,
table td {
	padding: .2em .5em;
}

table th + th,
table td + td {
	border-left: 1px solid #ccc;
}

table th {
	border-bottom: 1px solid #202d79;
	border-top: 1px solid #202d79;
	color: #202d79;
	background-color: #f4f8fa;
}

table td {
	border-bottom: 1px solid #ccc;
}

table td.positive {
	background-color: #d0ffd0;
}

table td.negative {
	background-color: #ffd0d0;
}

table.noborders td,
table.noborders th {
	border: 0;
}


/* forms */
form label {
	color: rgb(80,80,80);
	display: inline-block;
	font-size: 90%;
	font-weight: bold;
	margin-right: .5em;
	text-align: right;
	vertical-align: top;
	width: 110px;
}

form small {
	color: rgb(165,165,165);
	font-size: 80%;
	display: block;
	margin-top: -.6em;
}

form input,
form select,
form textarea,
.button a {
	background-color: white;
	border: 1px solid rgb(187,187,187);
	color: rgb(50,50,50);
	font-size: 90%;
	padding: .4em;
}

form input[_placeholder_on],
form input[_placeholder_on]:hover {
  color: rgb(190,190,190);
}

form input.error,
form select.error,
form textarea.error {
	border: 1px solid red;
}

form input,
form select,
form .button a {
	font-family: "Arial", "Verdana", "Helvetica", sans-serif;
}

form label + input,
form label + textarea {
	width: 60%;
}

form input[type=submit],
form input[type=button],
form input[type=image],
form select,
form button,
form .button a {
	cursor: pointer;
	width: auto;
}

form input[type=image] {
  vertical-align: middle;
}

/*
form input[type=submit],
form button,
form .button a {
	/* border-radius *
	/*text-align: right;*
}
*/

form input,
form select,
form textarea {
	background-image: url("/graphics/input-bg.png");
	background-position: bottom left;
	background-repeat: repeat-x;
}

form select {
	padding: .35em;
}

form input:hover,
form select:hover,
form textarea:hover
form .button a:hover {
	border: 1px solid rgb(150,150,150);
	color: black;
}

form input:focus,
form select:focus,
form textarea:focus,
form .button a:focus {
	border: 1px solid rgb(90,90,90);
}

form input[type=radio],
form input[type=radio]:hover {
	background: transparent;
	border: 0;
}

form input[type=checkbox] {
	padding: .2em;
}

form input[disabled=disabled],
form input[disabled=disabled]:hover {
	color: rgb(130,130,130);
	cursor: default;
}

form .button {
	background-color: white;
	display: inline;
}

form .button a {
	background-image: none;
	background-color: transparent;
	padding: 6px;
}

form .button a:hover {
	color: rgb(50,50,50);
	text-decoration: none;
}


/* ------------------------------------------------------------------------- */
/* People styles                                                             */
/* ------------------------------------------------------------------------- */
#people .person {
	padding-bottom: 2em;
	min-height: 100px;
}

#people .person .image {
	float: left;
	width: 100px;
	height: 100px;
	padding-right: 2%;
}

#people .person .image img {
	border: 1px solid #ddd;
}

#people .person .meta {
	float: left;
	width: 12em;
}

#people .person .meta h3 {
	margin: 0;
	font-size: 110%;
}

#people .person .meta ul {
	font-size: 90%;
	padding: 0;
	list-style: none;
}

#people .person .profile {
	float: left;
}


/* ------------------------------------------------------------------------- */
/* Action box                                                                */
/* ------------------------------------------------------------------------- */

div.actionbox {
  float: right;
  margin: 0 0 1em 1em;
  border: thin solid black;
  padding: .3em .6em;
  background-color: #f4f8fa;
}

div.actionbox p {
  margin: .3em 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

div.actionbox a {
  display: block;
  margin: .3em 0;
  border-width: medium;
  border-style: solid;
  border-color: #666FA3 black black #666FA3;
  padding: .5em 1em;
  background: #202D79;
  color: white;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

div.actionbox ul,
div.actionbox ol {
  margin: .3em 0;
  padding: 0;
}

div.actionbox li {
  list-style-position: inside;
}


/* ------------------------------------------------------------------------- */
/* Subpages menu                                                             */
/* ------------------------------------------------------------------------- */

h2#subpages,
h3#subpages,
h4#subpages {
	display: none;
}

h2#subpages.show-heading,
h3#subpages.show-heading,
h4#subpages.show-heading {
	display: block;
}

ul#subpages,
h2#subpages + ul,
h3#subpages + ul,
h4#subpages + ul {
	margin: 2em 0 2em 0;
	list-style-type: none;
	padding: 0 1em;
}

ul#subpages li,
h2#subpages + ul li,
h3#subpages + ul li,
h4#subpages + ul li {
	float: left;
	margin-bottom: .1em;
  min-width: 8em;
	padding-right: 3%;
	width: 47%;
}

ul#subpages li p,
h2#subpages + ul li p,
h3#subpages + ul li p,
h4#subpages + ul li p {
	font-size: 90%;
}

ul#subpages li:nth-child(odd),
h2#subpages + ul li:nth-child(odd),
h3#subpages + ul li:nth-child(odd),
h4#subpages + ul li:nth-child(odd) {
  clear: left;
}


/* ------------------------------------------------------------------------- */
/* FSF* Network                                                              */
/* ------------------------------------------------------------------------- */
#fsfnetwork {
  font-size: 120%;
  text-align: center;
}



/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */

#footer,
#footer h2 {
  color: rgb(120,120,120);
}

#footer {
  clear: both;
  font-size: 90%;
  line-height: 140%;
  min-height: 8em;
  padding-top: 2em;
}

#footer #notice {
  float: left;
  width: 70%;
}

#footer #notice ul {
  list-style: none;
  padding: 0;
}

#footer #notice ul li {
  display: inline;
  margin-right: .8em;
}

#footer #sister_organizations {
  clear: both;
  float: right;
  width: 25%;
}

#footer #sister_organizations h2 {
  font-size: 100%;
  font-weight: normal;
  margin-top: 0;
  padding: 0;
}

#footer #sister_organizations ul {
  list-style: circle;
}


/* ------------------------------------------------------------------------- */
/* Footnotes                                                                 */
/* ------------------------------------------------------------------------- */
h2#fn {
	display: none;
}

h2#fn + ol {
	border-top: 1px solid #ccc;
	font-size: 90%;
	margin-top: 3em;
	padding-top: .5em;
	width: 30%;
}

h2#fn + ol li {
	width: 300%;
}

a.fn {
	bottom: .5em;
	font-size: 70%;
	position: relative;
}


/* ------------------------------------------------------------------------- */
/* Events calendar                                                           */
/* ------------------------------------------------------------------------- */
.event {
	margin: 0 0 1.5em 0;
	min-height: 7em;
	display: block;
}

.event h3 {
	margin-top: 0 !important;
	margin-left: 70px;
}

.event .date {
	color: #888;
	float: left;
	margin-top: -2em;
	padding-right: 10px;
	text-align: center;
	width: 60px;
}

.event .date .day,
.event .date .conjunction,
.event .date .month {
	display: block;
}

.event .date .conjunction {
	font-size: 90%;
}

.event .date .day {
	font-size: 150%;
}

.event .date .month {
	font-size: 100%;
}

.event .date.multiple .conjunction {
	color: #bebebe;
	display: block;
	margin: 0 0 .5em 0;
}

.event .details {
	margin-left: 70px;
}


/* ------------------------------------------------------------------------- */
/* Styles used only on some pages                                            */
/* ------------------------------------------------------------------------- */

/* News and events on front page */

#news,
#events {
	width: 49%;
}

#news h2,
#events h2 {
	text-align: center;
}

#news h3,
#events h3 {
	color: black;
}

#events h3 {
	font-size: 100%;
}

#news h3 {
	font-size: 120%;
}

#news .tools,
#events .tools {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

#news {
	padding-right: 2%;
	float: left;
}

#events {
	float: right;
}

/* To avoid misplacements on the event page */
.clear {
	overflow: hidden;
	clear: both;
	height: 1px;
}

/* Project list */

th.projects {
  width: 20%;
}

td.projects {
  vertical-align: top;
}


/* Other stuff */

p.read_more {
	text-align: right;
}

a.feed {
	background-image: url("/graphics/icons/feed.png");
	background-repeat: no-repeat;
	background-position: 100% -1px !important;
	padding-right: 1.3em;
}

/* FIXME: replace with something else! */
.indent	{
  margin-right: 30px;
  margin-left: 40px;
}

p.footnote {
  margin-right: 30px;
  margin-left: 40px;
}

/* FIXME: this is probably not really code... */
code.footnote {
  font-weight: bold;
}

/* FIXME: Use <strong> instead */
span.emph {
  font-weight: bold;
}

ul.spaced li, ol.spaced li { /* Spaced listings, use this instead of <br /> */
	margin-bottom: 0.8em;
}

.background { /* For background information */
  margin-left: 1.5em;
  margin-right: 2em;
}

.aboutfsfe { /* For press release section "About the FSFE" */
  font-style: italic;
  margin-left: 2em;
}


/* Merchandise */
#merchandise {
  width: 100%;
}

#merchandise .image {
  padding-right: 1em;
  text-align: center;
}

#merchandise .description {
  vertical-align: top;
}

#merchandise .quantity {
  text-align: right;
  vertical-align: middle;
  width: 10%;
}

#merchandise .quantity p {
  margin: 0;
}

#merchandise .quantity input {
  vertical-align: middle;
}

#merchandise tr {
  border-bottom: 1px solid #f4f8fa;
  padding-bottom: 1.2em;
}


/* Overview pages */

ul.overview {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  padding-right: 1.5%;
  float: left;
  width: 45%;
}

