// ============================================================================
// Styles specific to the front page
// ============================================================================

body.frontpage #main {
    .introduction {
        background-image: url('/graphics/color-bar.jpg');
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 30px;
        padding-bottom: 20px;
        font-weight: bold;

        .h3 {
            font-weight: inherit;
        }

        .learn-more {
            font-size: 95%;
        }
    }

    h2 {
        .h1;
        margin-top: 30px;

        a.learn-more {
            font-size: 50%;
            font-weight: normal;
        }
    }

    .three-columns {
        .make-row;

        .column {
            .make-xs-column(12);
            .make-md-column(4);
        }
    }

    .news {
        .row {
            margin-top: 10px;
            margin-bottom: 10px;

            .image {
                .make-xs-column(12);
                .make-sm-column(5);
                .make-md-column(12);
                margin-top: 10px;
                margin-bottom: 10px;

                img {
                    @media (max-width: @screen-xs-max) {
                        .center-block;
                        width: 200px;
                    }
                }
            }

            .text {
                .make-xs-column(12);
                .make-sm-column(7);
                .make-md-column(12);

                h3 {
                    margin-top: 0;
                }

                .date {
                    .small;
                }
        }
        }
    }

    .subscribe {
        .text-center;
        margin-top: 30px;
        margin-bottom: 30px;
        background: @brand-primary;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 500;
        color: white;

        p {
            padding-left: 3em;
            padding-right: 3em;
            .hyphens(manual);
        }

        input[type=submit] {
            .btn-default;
            font-size: inherit;
            font-weight: inherit;
        }
    }

    .testimonials {
        .row {
            margin-top: 10px;
            margin-bottom: 10px;

            .image {
                .make-xs-column(12);
                .make-sm-column(3);
                .make-md-column(12);
                margin-bottom: 10px;

                img {
                    .center-block;
                    width: 150px;
                }
            }

            .text {
                .make-xs-column(12);
                .make-sm-column(9);
                .make-md-column(12);

                .source {
                    .text-right;
                    margin-bottom: 0;

                    &:before {
                        content: '\2014 \00A0'; // EM DASH, NBSP
                    }
                }
            }
        }
    }

    .donate-info {
        .text-center;
        margin-top: 30px;
        margin-bottom: 30px;
        background: @brand-mix;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 125%;
        font-weight: 500;
        color: white;

        p {
            .hyphens(manual);
        }

        .btn {
            font-size: inherit;
            font-weight: inherit;
        }
    }

    .further {
        .text-center;

        img {
            width: 280px;
        }
        
        .events {
            .date {
                .small;
                margin-bottom: 0;
            }
        }
    }
}
