// ============================================================================
// Styles specific to the front page
// ============================================================================

body.frontpage {
    .introduction {
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;

        .h3 {
            font-weight: inherit;
        }
    }

    .three-columns {
        .make-row;

        .column {
            .make-xs-column(12);
            .make-md-column(4);
        }
    }

    .news {
        .row {
            margin-top: 10px;
            margin-bottom: 10px;

            .image {
                .make-xs-column(12);
                .make-sm-column(5);
                .make-md-column(12);
                margin-top: 10px;
                margin-bottom: 10px;

                img {
                    @media (max-width: @screen-xs-max) {
                        .center-block;
                        width: 200px;
                    }
                }
            }

            .text {
                .make-xs-column(12);
                .make-sm-column(7);
                .make-md-column(12);

                h3 {
                    margin-top: 0;
                }

                .date {
                    .small;
                }
        }
        }
    }

    .subscribe-nl {
        .make-row;

        margin-top: 30px;
        margin-bottom: 30px;
        background: @brand-medium;
        padding-top: 15px;
        padding-bottom: 15px;

        p {
            .make-md-column(6);
            .h3;
            .text-right;

            @media (min-width: @screen-md-min) {
                margin: 0;
                top: 5px;
            }
        }

        form {
            .make-md-column(6);
        }
    }

    .testimonials {
        .row {
            margin-top: 10px;
            margin-bottom: 10px;

            .image {
                .make-xs-column(12);
                .make-sm-column(3);
                .make-md-column(12);
                margin-bottom: 10px;

                img {
                    .center-block;
                    width: 150px;
                }
            }

            .text {
                .make-xs-column(12);
                .make-sm-column(9);
                .make-md-column(12);

                .source {
                    .text-right;
                    margin-bottom: 0;

                    &:before {
                        content: '\2014 \00A0'; // EM DASH, NBSP
                    }
                }
            }
        }
    }

    .donate-info {
        .text-center;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: @border-radius-large;
        background: @brand-mix;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;

        p {
            .center-block;
            max-width: 60%;
        }
    }

    .further {
        .text-center;

        img {
            width: 280px;
        }

        .events {
            .date {
                .small;
                margin-bottom: 0;
            }
        }
    }
}
