html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: url('graphics/fellowship/plussy_tile_03.svg') top left fixed #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-top: -10%;
}

.logo img {
  min-height: 85px;
  min-width: 158px;
}

.logo #motto {
  color: #202d79;
  font-size: 18px;
  font-weight: 500;
}

.container {
  width: 960px;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.text-center {
  text-align: center;
}

.strike {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 500;
}

a {
  color: green;
  text-decoration: none;
}

.fsfe {
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
}

.footer p,
.footer a {
  color: #777;
  text-decoration: none;
}

.footer a + a:before {
  content: "  |  ";
}

/* FONTS */
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
