RewriteEngine On
RewriteRule ^index(.*) /contribute/contribute$1 [redirect=permanent]
RewriteRule ^help(.*) /contribute/contribute$1 [redirect=permanent]
RewriteRule ^web\.(.*) /contribute/web/web.$1 [redirect=permanent]
RewriteRule ^thankgnus\.(.*) /help/thankgnus-2008.$1 [redirect=permanent]
RewriteRule ^donate-2002\.(.*) /help/donate.$1 [redirect=permanent]
RewriteRule ^spenden\(.*) /help/donate-2002-de$1 [redirect=permanent]
