// ============================================================================
// Classes for colored tables
// ============================================================================

table.colored th {
  color: white;
  background-color: #3394ce;
}
table.colored td {
  border-bottom: 1px solid #74AA50;
}
table.colored th,
table.colored td {
  text-align: left;
  padding-left: 0.3em;
  padding-right: 0.3em;
  width: auto;
}
table.colored th:first-child,
table.colored td:first-child {
  text-align: left;
  width: auto;
}
table.colored tr.sum td {
  font-weight: bold;
  background-color: #d7eaf6;
  border-bottom: 1.5em solid white;
}

table.colored th.header-cell {
  font-size: 1.1em;
  background-color: #74AA50;
  color: #fff;
}
table.colored tr.row-highlight {
  background-color: rgba(116, 170, 80, 0.2);
}
