/* This is only for the test instance, it should be merged within fsfe.org/look and with generic.css in the future */

#introduction .image#hello-free-droid {
margin: 0;
}


#introduction .image#hello-free-droid img {
z-index:-1;
position:absolute;
margin-left:720px;
}
