body {
  width: 70%;
  margin: 0 15%;
  border-style: none solid;
  border-width: 4px;
  border-color: #693;
}

body > * {
  margin: 1em 1%;
}

#translations > a.close {
  display: none;
}
#translations ul li, #translations ul {
  display: inline;
}

#top, #top > * {
  display: inline-block;
  clear: none;
}
#top #masthead {
  float: left;
  width: 20%;
}
#top #masthead #logo {
  background-image: url("graphics/pdfreaders-logo.png");
  background-repeat: no-repeat;
  min-width: 103px;
  min-height: 158px;
}
#top #menu {
  float: right;
  width: 70%;
}

#main, #followup, #bottom, #source, #legal-info, #sister-organisations {
  display: block;
  clear: both;
}

#main .reader {
  display: inline-block;
  float: left;
  width: 29%; height: 20em;
  overflow: none;
  margin: 2em 1%;
  padding: 1ex 1%;
  border-style: solid;
  border-width: 2px;
}
.reader .logo {
  float: left;
  height: 3em;
  margin-right: 1.5em;
}
.reader .label {
  display: inline-block;
  font-weight: bold;
  margin-top: 1em;
}
.reader .platform {
  margin: 0 .5em;
}

#bottom hr {
  clear: both;
}

#full-menu-list {
  padding: 0;
}
#full-menu-list > li {
  display: inline-block;
  float: left;
  width: 12%;
  margin: 0 2%;
}
#full-menu-list ul {
  list-style-type: none;
  padding-left: 2ex;
}
