body {
  width: 70%;
  margin: 0 15%;
  border-style: none solid;
  border-width: 4px;
  border-color: #693;
}

body > * {
  margin: 1em 1%;
}

#translations {
  display: inline-block;
  float: left;
  width: 60%;
}
#translations > a {
  display: none;
}
#translations ul li {
  display: inline;
}

.reader {
  display: inline-block;
  float: left;
  width: 28%;
  margin: 2em 2%;
  padding: 1ex;
  border-style: solid;
  border-width: 2px;
}

#followup, #bottom {
  display: block;
  clear: both;
}

#full-menu-list > li {
  display: inline-block;
  float: left;
}
#full-menu-list * {
  list-style-type: none;
}
