/*

FSFE Fellowship stylesheet

*/

body {
  background-image: url("/graphics/fellowship/plussy_tile_03.png");
  background-repeat: repeat;
}

a:link {
  color: rgb(107,179,64);
}

a:visited {
  color: rgb(82,130,52);
}

h1,
h2,
h3,
h4 {
  color: rgb(66,121,32);
}

#logo {
  width: 320px;
}

#header {
  background-image: url("/graphics/fellowship/ribbon_fellowship2.png");
  background-position: bottom left;
  height: 250px;
}

/* display Fellowship sidebar menu, hiding FSFE menu */
#menu ul li.fellowship ul { dipslay: block }
#menu ul li.fsfe ul       { display: none  }