@import "style.less";

/* fsfe.org pages */

body {
    background: url(/graphics/fellowship/plussy_tile_03.png) top left fixed #F9F9F9;
    font-family: "Roboto", sans-serif;
}

#logo {
    background: url(/graphics/fellowship/fellowship-page-logo-300x91.png) top left no-repeat;
}

#masthead, #logo {
    padding-left: 0;
    min-height: 90px;
    min-width: 300px;
}

#link-home a {
    height: 90px;
    width: 300px;
}

#menu {
    @media (min-width: @screen-xs) {
        margin-left: 300px;
    }
}

#followup {
    background: url(/graphics/fellowship/ribbon_fellowship2.png) no-repeat 100% -30px @body-bg; 
    text-shadow: rgb(255,255,255) 0 0 .5em;

    @media (min-width: @screen-sm) {
        background: url(/graphics/fellowship/ribbon_fellowship2.png) no-repeat 100% -50% @body-bg; 
    }
}


#full-menu {
    background: url(/graphics/logo_bw_transparent_small.png) no-repeat top left @body-bg;
}

a.the-fellowship {
    padding: 8px 20px 0 0;   
    background: url(/graphics/plussy-bright-20.png) no-repeat top right transparent;
}

/* fsfe.org front page */

.frontpage { 
    #motto {
        display: block;
    }
    
    #campaigns-boxes {

        height: 300px;
        background: url('/graphics/fellowship/ribbon_fellowship2.png') top right no-repeat transparent;

        .campaign-box {
            height: 300px;
        }

    }
}


/* Testimonials divs */

.testimonial {
    overflow: auto;
    clear: both;
}

.testimonial img {
    float: left;
    margin-right: 10px;
}







@import "fonts.less";
