@import "style.less";

/* fsfe.org pages */

body {
    background: url(/graphics/fellowship/plussy_tile_03.png) top left fixed #F9F9F9;
    font-family: "Roboto", sans-serif;
}

#logo {
    background: url(/graphics/logo_transparent.png) top left no-repeat;
}

#masthead, #logo {
    min-height: 85px;
    min-width: 158px;
}

#link-home a {
    width: 158px; 
    height: 85px; 
}

#menu {
    @media (min-width: @screen-xs) {
        margin-left: 200px;
    }
}

#followup {
    background: url(/graphics/ribbon.png) no-repeat 100% -40px @body-bg; 
    text-shadow: rgb(255,255,255) 0 0 .5em;

    @media (min-width: @screen-sm) {
        background: url(/graphics/ribbon.png) no-repeat 100% -100% @body-bg; 
    }
}

#followup.join {
    background: url(/graphics/fellowship/ribbon_fellowship2.png) no-repeat 100% -30px @body-bg; 
    @media (min-width: @screen-sm) {
        background: url(/graphics/fellowship/ribbon_fellowship2.png) no-repeat 100% -50% @body-bg; 
    }
}


#full-menu {
    background: url(/graphics/logo_bw_transparent_small.png) no-repeat top left @body-bg;
}

a.the-fellowship {
    padding: 8px 20px 0 0;   
    background: url(/graphics/plussy-bright-20.png) no-repeat top right transparent;
}

/* fsfe.org front page */

.frontpage { 
    #motto {
        display: block;
    }
    
    #campaigns-boxes {

        height: 300px;
        background: url('/graphics/ribbon.png') top right no-repeat transparent;

        .campaign-box {
            height: 300px;
        }

        #zacchiroli {
            background: url('/graphics/group-blur-800.jpg')  center 33%  no-repeat transparent;
            text-shadow: 0px 1px 2px rgb(0,0,0);

            img { float: right; margin-left: 1em; }
            .text { .quote; } 
            .author:before {content: "– ";}

            @media (min-width: @screen-md) {
                img { margin-left: 3em; }
                .text {font-size: 1.3em; }
                .text, .author {max-width: 80ex; margin: 1em auto; display: block;}
            }

        }
        #dfd {
            text-align: center;
            background: url('/graphics/fellowship/plussy_tile_01-33alpha.png') rgb(118, 181, 32);
            font-size: 1.3em;

            img {height: 100px;margin-bottom: 10px;border: 1px solid #fff; border-radius: 5px; box-shadow: 0 0 0.5em #fff;}
        }

    }
}


#news {
    padding-bottom: 1.5em;

    .dt-published {
        color: @gray-light;
        font-size: .8em;
        display: block;

        @media (min-width: @screen-sm) {
            display: inline-block;
            padding: 0 0.5em;
        }
    }

    .entry {
        h3 {
            display: inline-block;
        }
        p.date {
            display: inline-block;
            #news .dt-published;
            font-weight: 300;
            margin-bottom: 0;
        }
    } 
    
    .entry:nth-child(1n+3) {

        h3 {
            font-size: 1em;
            margin: 0.3em 0 0  0;
        }
        .text, p { display: none; }
        p.date { display: inline-block; }
    }
    
}

#latest-news-list, #more-news-list {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0;
}
@media (min-width: @screen-sm) {
    #news {
        display: inline-block;
        float: left;
        width: 69%;
    }
    #newsletter {
        display: inline-block;
        float: right;
        width: 30%;
        padding-left: 2%;
        
        input {
            display: block;
            margin: .5em 0;
        }
    }
}

@media (min-width: @screen-md) {
}

@media (min-width: @screen-lg-min) {
}

#events {
    clear: both;
    padding-top: 1.5em;

    #map { height: 280px; }

    .entry {
        h3 {
            display: inline-block;
        }
        p.date {
            #news .dt-published;
            font-size: 1.3em;
            font-weight: 300;
            margin-bottom: 0;
        }
    }
    a.learn-more {
        line-height: 2;
    }
}

#feeds {
    a.ical, a.rss-feed {
        .small;
        color: @gray-light;

        i.fa {
        }
    }
}


/* People pages */

.people img, img.author-avatar {
  float: left;
  margin: 5px 10px 10px 0px;
  width: 48px;
  height: 48px;
  border: 1px solid rgb(50,50,50);
  box-shadow: 0 0 3px  rgba(0,0,0,0.3);
}

ul.people {
  list-style-type:none;
  padding-left: 0;
}

ul.people li {
  display: block;
  float: left;
  width: 48%;
  min-width: 20em;
  padding-right: .5em;
}

ul.people li:nth-child(odd) {
  clear: left;
}

ul.people li:last-child {
  margin-bottom: 1.5em;
}

.people .name, .people .email {
  display: block;
}

.people .name {
  font-weight: bold;
}

.people .email {
  font-style: italic;
}

.employee {
    line-height: 0.8em;
    margin-left: 0.5em;
    padding: 0.3em 0.4em;
    border-radius: 5%;
}

.employee.full, .employee.intern {
    background-color: rgb(190, 245, 190);
}

.employee.part {
    background-color: rgb(228, 247, 228);
}

.employee.fee {
    background-color: rgb(239, 242, 251);
}

/* Testimonials divs */

.testimonial {
    overflow: auto;
    clear: both;
}

.testimonial img {
    float: left;
    margin-right: 10px;
}







/* Planet style */

.planet #motto {
    clear: none;
    font-size: 1em;
    text-align: left;
    position: absolute;
}

#planet-sources a {
    display: inline-block;
    width: 90%;
}

#planet-sources a:before {
    content: "→ ";
}

#planet-posts {
    .daygroup {
    	h2:first-child {
            color: @brand-strong;
        }
        .blogitem {
            padding-bottom: 3em;
            margin-bottom: 3em;
        }
    }
}

/* wiki */

.wiki #motto {
    .planet #motto;
}

.wiki #direct-links {
    visibility: visible;
    
    a {
        display:inline-block;
    }
}

.wiki #text h1 {
    color: @brand-strong;
}

@import "fonts.less";
