#header {
  background: url("/graphics/ribbonv.png") no-repeat scroll left bottom transparent;
}

a:link {
  color: #9E1321;
}

a:visited {
  color: #E24454;
}

h2 {
  color: #9E1321;
}

h3 {
  color: #9E1321;
}

#fundraising h2 {
  color: #9d0000;
}

#fundraising div.percentbox {
  border: 1px solid #9E1321;
  background-color: #E2364C;
}

#fundraising div.percentbar {
  background-color: #9E1321;
}

h1,
h2,
h3 {
  color: #9E1321;
}

#navigation {
  background-color: #E2364C;
}

#navigation ul#languages {
  background-color: #E2364C;
}

#menu ul li.fsfe a {
  border-left: 15px solid #E2364C;
}

#menu ul li.fsfe a:hover {
  border-left: 15px solid #E2364C;
}

#menu ul li.fsfe ul li a {
  border-left: 15px solid #DCDCDC;
}

#menu ul li.fsfe ul li a:hover {
  border-left: 15px solid #F57B8F;
}

#menu ul li.planet a {
  border-left: 15px solid #9E1321;
}

#menu ul li.planet ul li a {
  border-left: 15px solid #DCDCDC;
}

#menu ul li.planet ul li a:hover {
  border-left: 15px solid #9E1321;
}

#menu ul li.wiki a {
  border-left: 15px solid rgb(245,200,245);
}

#menu ul li.support a {
  border-left: 15px solid #BB1627;
}

#menu ul li.support ul {
  display: none;
}

#menu ul li.fellowship a {
  border-left: 15px solid #F57B8F;
}

#menu ul li.fellowship ul li a {
  border-left:15px solid #DCDCDC;
}

#menu ul li.fellowship ul li a:hover {
  border-left: 15px solid #ABFF4A;
}

#menu ul li ul li #selected,
#menu ul li ul li #selected:hover {
  border-left: 15px solid #C1C1C1;
  color: #333333;
}

.section .entry p.date {
  color: #6e6e6e;
}

#news.section h2,
#donate-once.section h2 {
  background-color: #E2364C;
}

#newsletter.section h2,
#donate-regular.section h2 {
  background-color: #F57B8F;
}

#events.section h2 {
  background-color: #9E1321;
}

#team.section h2, #identica.section h2 {
  background-color: #F57B8F;
}

#contact.section h2 {
  background-color: #BDE455;
}

.banner-border {
  border: 4px solid #E2364C;
  border-radius: 7px;
}

#campaign-box-1 h3 a {
  color: #9E1321;
}

#campaign-box-1 a h3:hover {
  color:#22284C;
}

#campaign-box-2 .donate-box {
  color:#3394CE;
  -moz-box-shadow:inset 0 0 2px #00222b;
  -webkit-box-shadow:inset 0 0 2px #00222b;
  box-shadow:inset 0 0 2px #00222b;
  background: url("/graphics/donate-button-bg-v.png") no-repeat top left;
}

#campaign-box-2 .donate-box:hover {
  color: #2A7BAD;
  -moz-box-shadow: inset 0 0 6px #00222b;
  -webkit-box-shadow: inset 0 0 6px #00222b;
  box-shadow: inset 0 0 6px #00222b;
}

#campaign-box-2 .fellowship-box {
  color: #70d055;
  -moz-box-shadow: inset 0 0 2px #17280b;
  -webkit-box-shadow: inset 0 0 2px #17280b;
  box-shadow: inset 0 0 2px #17280b;
  background: url("/graphics/join-button-bg-v.png") no-repeat top left;
}

#campaign-box-2 a.fellowship-box:hover {
  color: #5DAC46;
  -moz-box-shadow: inset 0 0 6px #17280b;
  -webkit-box-shadow: inset 0 0 6px #17280b;
  box-shadow: inset 0 0 6px #17280b;
}

/*#campaigns-boxes a:link {
  color: #3394CE;
}*/

#article-metadata a {
  color: #323232;
}

#article-metadata span.label {
  color: #9E1321;
}

table th {
  border-bottom: 1px solid #9E1321;
  border-top: 1px solid #9E1321;
  color: #9E1321;
  background-color: #f4f8fa;
}

#service-notice {
  background-color: #9E1321;
}

#service-notice .close a {
  border: 2px solid #9E1321;
}

#service-notice .close a:link,
#service-notice .close a:visited {
  color: #9E1321;
}

#service-notice .close a:hover,
#service-notice .clsoe a:active {
  color: #9E1321;
}

