/*
 * New design for fsfe.org.
 *
 * Colours to use:
 *   TODO
 */

@import url("grid.css");
@import url("input.css");

* {
	margin: 0;
	padding: 0;
}

body {
/*	font-family: "Lucida Grande", "Verdana", "Helvetica", sans-serif;*/
  font-family: "Arial", sans-serif;
	font-size: 12px;
	line-height: 180%;
	color: rgb(50,50,50);
	background-color: rgb(240,240,240);
	background-image: url("banner_gray.png");
	background-repeat: no-repeat;
	background-position: 15px 70px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:link {
	color: rgb(51,148,206);
}

a:hover {
	text-decoration: underline;
}

a:visited {
  color: rgb(153,186,206);
}

a img {
	border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nimbus", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
}

h1,
h2 {
	font-weight: normal;
}

h2 {
	border-bottom: 1px solid rgb(210,210,210);
	color: rgb(32,45,121);
	font-size: 280%;
	margin: .4em -.3em .5em -.3em;
	padding: 0 .3em .2em .3em;
  letter-spacing: -.5px;
  line-height: 120%;
}

h3 {
	color: rgb(32,45,121);
	line-height: 110%;
	margin: 1.5em 0 .8em 0;
	font-size: 190%;
}

p {
	margin: .8em 0;
}

pre {
  font-family: monospace;
  font-size: 90%;
  line-height: 140%;
  background-color: rgb(240,240,240);
  border-top: 1px dotted rgb(210,210,210);
  border-bottom: 1px dotted rgb(210,210,210);
  padding: 1.2em 0 1.2em 187px;
  max-height: 14em;
  overflow: auto;
  margin: 1em -40px 1em -187px;
  box-shadow: 10px 0 0 rgb(240,240,240);
}

ul,
ol {
  padding-left: 1.5em;
  list-style: circle;
}

#wrapper {
	background-color: white;
	margin: 0 4em 0 14px;
  padding-bottom: 3em;
	max-width: 980px;
	min-width: 500px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 25px;
  -moz-border-radius-bottomleft: 3px;
	background-image: url("banner.png");
	background-repeat: no-repeat;
	background-position: 0 70px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.1);
 	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
	border-left: 1px solid rgb(240,240,240);
}

.n {
	display: none;
}

.read_more {
	text-align: right;
}

.break {
	clear: both;
}


/* header */
#header {
  background:url("/graphics/ribbon.png") no-repeat scroll left bottom transparent;
  min-height:220px;
  margin:0;
  width:100%
}

#logo {
  margin:1em 0 0 1em;
  width:215px;
  float:left;
}

#statement {
  color:#787878;
  float:left;
  font-size:120%;
  margin:3em 0 0 5em;
  width:40em;
}

#statement a {
  padding-left:1em;
}

/* translations */
/*#translations {
	float: right;
	margin: 1em 1em 7em 1em;
	height: 12em;
  width: 67%;
  font-size: 90%;
}*/

#menu h2 {
  font-size:100%;
  color: #787878;
}

#translations {
  padding-left: .5em;
  clear:both;
}

#translations h2 {
}

/*
#translations ul {
	padding: 0;
}
*/

#translations ul {
  padding-left: .5em;
  font-size: 90%;
}

#translations ul li {
  list-style: none;
  line-height: 120%;
}

/*
#translations ul li {
	list-style: none;
	display: inline;
  margin-right: .5em;
}
  */


/* search */
/*
#search {
	clear: right;
	display: block;
	float: right;
	margin-top: -8em;
	margin-right: 1em;
}*/

#menu,
#newsletter,
#fellowship,
#search {
  margin-bottom: 1em;
}

#newsletter,
#fellowship,
#search {
  clear: left;
  float: left;
  /*padding: .5em;*/
  padding-left: .5em;
}

#newsletter p {
  font-size: 90%;
  color: rgb(120,120,120);
  line-height: 140%;
}

#fellowship img {
  width: 100%;
}

#newsletter input[type=email],
#search input[type=text] {
  width: 90px;
  padding-left: 32px;
  width: 90px;
}

#newsletter input[type=image],
#search input[type=image] {
  margin: 5px 0 0 5px;
  position: absolute;
}

#search h1 {
	display: none;
}

#newsletter h2,
#translations h2 {
  font-size: 100%;
  color: rgb(90,90,90);
  margin: 0 0 .5em 0;
  padding: 0;
}


/* content specific */
#content {
	margin-left: 160px;
	padding-left: .5em;
  padding-right: 3em;
  padding-left: 2em;
	min-height: 400px;
	clear: right;
  font-size: 112%;
}

#content img {
	float: left;
	margin: 0 2.5em 2.5em 1em;
}

#content p#category {
  font-family: "Nimbus", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 170%;
  margin: 0 0 -.5em 0;
  line-height: 120%;
}

#content .introduction {
	border-bottom: 1px solid rgb(210,210,210);
	font-size: 130%;
	padding: 0 15px;
	line-height: 200%;
	margin-bottom: 3em;
}

#content .introduction + * {
  clear: left;
}

#content .introduction p {
	padding: 0;
}

#content .introduction img {
  float: left;
}

#content p::after {
  content: "";
  clear: both;
  height: 1px;
  overflow: hidden;
}


/* subpages */
ul.subpages {
  padding: 0 1em;
}

ul.subpages li {
	width: 49%;
	padding-right: 1%;
	float: left;
	margin-bottom: 1em;
  list-style: none;
}

ul.subpages li h3 {
	font-size: 180%;
	margin-bottom: .2em;
	margin-top: 0;
	color: rgb(51,147,206);
}

ul.subpages li p {
  margin-top: 0;
}


/* navigation sidebar */
#navigation {
	background-color: rgb(74,210,240);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: url("border-radius.php?r=4");
	height: 28px;
	font-size: 105%;
	font-weight: bold;
}

#navigation,
#navigation a,
#navigation #search {
	color: rgb(244,254,255);
	text-decoration: none;
}

#navigation ul#menu {
	float: left;
	list-style: none;
}

#navigation ul#menu li {
	float: left;
}

#navigation ul#menu li a {
	display: block;
	padding: 5px 18px;
}

#navigation ul#menu li.selected {
	background-color: rgb(51,148,206);
	color: white;
}

#navigation ul#menu li.selected,
#navigation ul#menu li:hover {
	border-bottom: 4px solid rgb(208,244,0);
}

#navigation ul#menu li.selected:first,
#navigation ul#menu li:first:hover	{
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-o-border-radius-topleft: 5px;
	-o-border-radius-bottomleft: 5px;
	-webkit-border-radius-topleft: 5px;
	-webkit-border-radius-bottomleft: 5px;
}

#navigation ul#languages {
	background-color: rgb(74,210,240);
	float: left;
	width: 120px;
	text-align: center;
	padding: 5px 10px 3px 10px;
}

#navigation ul#languages li {
	display: none;
}

#navigation ul#languages li a {
	display: block;
	border-bottom: 1px dotted white;
}

#navigation ul#languages li:first-child a,
#navigation ul#languages li:last-child a {
	border-bottom: 1px solid transparent;
}

#navigation ul#languages:hover li:first-child {
	border-bottom: 1px dotted white;
}

#navigation ul#languages:hover li:first-child a {
	font-weight: bold;
}

#navigation ul#languages li a:hover {
	color: white;
	font-weight: normal !important;
}

#navigation ul#languages li.selected {
	display: block;
}

#navigation ul#languages li.selected a {
	font-weight: normal;
}

#navigation ul#languages:hover li {
	display: block;
}

#navigation #search {
	float: right;
	margin: 4px 3px 0 0;
}

#navigation #search input {
	font-size: 95%;
	padding: 2px;
}

#navigation #search input:focus {
	border-color: inherit;
}

#navigation #search input[type=submit] {
	margin-left: -20px;
	position: absolute;
	border: 0;
	padding: 0;
	border-left: 1px dotted rgb(130,130,130);
	width: 20px;
	height: 20px;
}


/* sidebar */
#sidebar {
  clear: left;
  float: left;
  line-height: 100%;
  width: 150px;
/*
  top: 200px;
  position: absolute;
	width: 150px;
	line-height: 100%;*/
}


/* menu */
#menu a {
  color: #808080;
  text-decoration: none;
  display: block;
  padding: 0.5em 0.3em 0 1em;
  line-height: 50%;
  font-size: 15.5px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul + ul {
  border: 0;
}

#menu ul li a {
  border-left:15px solid #DCDCDC;
  border-right:1px solid #F0F0F0;
  font-weight:normal;
  padding:0.8em 0 0.8em 1em;
}

#menu ul li.fsfe a,
#menu ul li.fellowship a,
#menu ul li.planet a,
#menu ul li.wiki a {
  font-weight: bold;
}

#menu ul li.fsfeul li a,
#menu ul li.fellowshipul li a,
#menu ul li.planetul li a,
#menu ul li.wikiul li a {
  font-weight: normal;
}

#menu ul li ul {
  border-left:none;
}

#menu ul li.fsfe a {
  border-left: 15px solid #4ad2f0;
}

#menu ul li.planet a {
  border-left: 15px solid #4aa0f0;
}

#menu ul li.wiki a {
  border-left: 15px solid #adff54;
}

#menu ul li.fellowship a {
  border-left: 15px solid #639829;
}


/* sections */
.section {
	padding: 0 10px;
	margin-bottom: 3em;
}

.section p,
.section ul {
	padding: 0;
  display: inline;
}

.section h3 {
  margin-top: 0;
  margin-bottom: .3em;
}

.section > h2,
.section > ul,
.section > ul li,
.section > div:first-child {
	background-color: rgb(240,240,240);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  border-radius: 4px;
	/*background-image: url("border-radius.php?r=4&color=240,240,240");*/
	font-size: 100%;
	color: rgb(110,110,110);
	font-weight: bold;
}

.section > h2,
.section > ul,
.section > div:first-child {
	padding: 4px 10px;
	margin: 0 -10px 1em -10px;
	border: 0;
}

.section > ul {
  list-style: none;
  padding-right: 0;
  padding-left: 0;
  /*overflow: hidden;*/  /* can be commented out for debugging */
}

.section > ul li {
  display: inline-block;
  margin-right: -4px;
}

.section > h2 a,
.section > ul a,
.section > div:first-child a {
	color: white;
	display: block;
}

.section > h2 a:hover,
.section > ul a:hover,
.section > div:first-child a:hover {
	text-decoration: underline;
}

.section.blue-4 > h2,
.section.blue-4 > ul,
.section > ul li.blue-4 {
	background-color: rgb(32,45,121);
	/*background-image: url("border-radius.php?color=32,45,121&r=4");*/
}

.section.blue-4 > h2,
.section.blue-4 > h2 a,
.section.blue-4 > ul a,
.section > ul li.blue-4 a {
	color: white;
}

.section.blue-1 > h2,
.section.blue-1 > ul,
.section > ul li.blue-1,
.section > div:first-child {
	background-color: rgb(74,210,240);
	/*background-image: url("border-radius.php?color=74,210,240&r=4");*/
}

.section.blue-1 > h2,
.section.blue-1 > h2 a,
.section.blue-1 > ul a,
.section > ul li.blue-1 a,
.section > div:first-child,
.section > div:first-child a {
	color: rgb(244,253,255);
}

.section.blue-3 > h2,
.section.blue-3 > ul,
.section > ul li.blue-3 {
	background-color: rgb(214,234,245);
	/*background-image: url("border-radius.php?color=214,234,245&r=4");*/
}

.section.blue-3 > h2,
.section.blue-3 > h2 a,
.section.blue-3 > ul a,
.section > ul li.blue-3 a {
	color: rgb(51,147,206);
}

.section.green-1 > h2,
.section.green-1 > ul,
.section > ul li.green-1 {
	background-color: rgb(208,244,0);
	/*background-image: url("border-radius.php?color=208,244,0&r=4");*/
}

.section.green-1 > h2,
.section.green-1 > h2 a,
.section > ul li.green-1 a {
	color: rgb(128,133,99);
}

.section.blue-2 > h2,
.section.blue-2 > ul,
.section > ul li.blue-2 {
	background-color: rgb(137,226,245);
	/*background-image: url("border-radius.php?color=51,148,206&r=4");*/
}

.section.blue-2 > h2,
.section.blue-2 > h2 a,
.section > ul li.blue-2 a {
  color: rgb(245,251,255);
}

.section.blue-4 > h2,
.section.blue-4 > ul,
.section > ul li.blue-4 {
	background-color: rgb(51,148,206);
	/*background-image: url("border-radius.php?color=51,148,206&r=4");*/
}

.section.blue-4 > h2,
.section.blue-4 > h2 a,
.section > ul li.blue-4 a {
  color: rgb(245,251,255);
}

.section > ul li.blue-1,
.section > ul li.blue-2,
.section > ul li.blue-3,
.section > ul li.blue-4,
.section > ul li.green-1 {
  /*height: 1.75em;*/
  margin-top: -4px;
  margin-bottom: -4px;
  padding: 4px 12px 4px 12px;
}

.section div > h2 {
  display: none;
}

.section > h2 + .tools,
.section > div .tools {
  float: right;
}

.section > h2 + .tools img,
.section > div .tools img {
  margin: -5px 0 0 1em  !important;
}
.section > h2 + .tools {
  margin-top: -2.3em;
}

.section > ul {
  /*text-align: right;*/
}

.section > ul li {
  border-radius: 4px 0 0 4px;
}

.section > ul li.selected {
}

.section > ul li:last-child {
  border-radius: 0 4px 4px 0;
}

#feed.section > div:first-child input[type=checkbox],
#feed.section > div:first-child label {
  cursor: pointer;
}

#feed.section > div:first-child input[type=checkbox] {
  vertical-align: middle;
}

#feed.section > div:first-child {
  text-align: right;
}

#feed.section > div:first-child label {
  margin-right: 1em;
}

#feed.section > div:first-child label:last-child {
  margin-right: 0;
}

#feed .minibutton,
#feed .minibutton span {
  background: none;
}

#feed .minibutton {
  background-color: rgb(137,226,245);
  border-radius: 4px;
  color: rgb(51,147,206) !important;
}


/* footer */
#footer {
	font-size: 90%;
	line-height: 140%;
	padding: 1em .8em 0 .8em;
  clear: both;
	margin: 0 4em 2em 15px;
	max-width: 980px;
	min-width: 500px;
	min-height: 8em;
  color: rgb(140,140,140);
}

/*
#footer,
#footer a {
	color: rgb(120,120,120);
}

#footer a {
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}
*/

#footer a {
  color: rgb(100,100,100);
}

#footer #notice {
	float: left;
	width: 60%;
}

#footer #notice > p {
	margin-top: 0;
}

#footer #notice ul {
	list-style: none;
  padding: 0;
}

#footer #notice ul li {
	display: inline;
	margin-right: .8em;
}

#footer #sister_organizations {
	float: right;
	width: 40%;
}

#footer #sister_organizations h2 {
	font-size: 100%;
	font-family: "Lucida Grande", "Verdana", "Helvetica", sans-serif;
	margin-top: 0;
	color: rgb(120,120,120);
	border: 0;
	padding: 0;
}

#footer #sister_organizations ul {
	list-style: circle;
}


/* news and events */
#all h3,
#news h3,
#blogs h3,
#events h3 {
  font-size: 120%;
}

#all h3 + p,
#news h3 + p,
#blogs h3 + p,
#events h3 + p {
  color: rgb(120,120,120);
  font-size: 90%;
}

#events .event {
	clear: right;
}

#events .date,
#events .details {
}

#events .date {
	clear: left;
	float: left;
	width: 4em;
	color: #888;
	text-align: center;
	margin-bottom: 1.8em;
}

#events .date .day {
	font-size: 220%;
	display: block;
	padding-bottom: .3em;
}

#events .date.multiple p {
	margin: 0;
	color: rgb(190,190,190);
}

#events .date.multiple .day {
	font-size: 150%;
}

#events .date.multiple .month {
	font-size: 90%;
}

#events .date .month {
	font-size: 140%;
}

#events .details {
	margin-left: 4em;
	padding-left: .5em;
}

#events .details > p {
	margin-top: 0;
}


/* about */
#frontpage #about img {
	float: right;
	width: 100px;
}

#frontpage .entry {
  margin-bottom: 3em;
}


/* announcement */
#announcement {
	min-height: 8em;
	text-align: center;
	margin-bottom: 2em;
}

#announcement img {
	float: none;
	margin: 0;
}


/* campaigns */
/*
#campaigns {
  width: 70%;
  float: left;
  height: 150px;
  margin-bottom: 2em;
  border-radius: 4px;
}

#campaigns .first,
#campaigns .second,
#campaigns .third {
  height: 150px;
  border-radius: 4px;
  margin-top: -.8em;
  padding: 0;
}

#campaigns .second,
#campaigns .third {
  display: none;
}

#campaigns .first {
  background-color: rgb(214,234,245);
}

#campaigns .second {
  background-color: rgb(137,226,245);
}

#campaigns ul {
  font-size: 120%;
  float: right;
  list-style: none;
  padding: 0;
  width: 15px;
}

#campaigns ul li a {
  display: block;
  max-height: 21px;
  padding: 14px 0 15px 5px;
}

#campaigns ul li a:hover {
  text-decoration: none;
}

#campaigns ul li.first-tab {
  background-color: rgb(214,234,245);
  border-top-right-radius: 4px;
}

#campaigns ul li.second-tab {
  background-color: rgb(137,226,245);;
}

#campaigns ul li.third-tab {
  background-color: rgb(120,210,238);;
  border-bottom-right-radius: 4px;
}
*/

#campaigns {
  height: 180px;
  overflow: hidden;
  margin-bottom: 2em;
}

#campaigns img {
  width: 100%;
  margin: 0;
  float: none;
}


/* about fsfe */
#about-fsfe {
  color: rgb(120,120,120);
  font-size: 120%;
  float: right;
  margin: 2em 1em 7em 1em;
  width: 67%;
}

#about-fsfe a {
  font-weight: bold;
  margin-left: .8em;
}


/* identica feed */
#identica-feed {
  float: right;
  width: 29%;
  font-size: 90%;
  line-height: 110%;
  overflow: auto;
  height: 150px;
}

#identica-feed .name,
#identica-feed .date {
  display: block;
}

#identica-feed .name {
  float: left;
  font-weight: bold;
}

#identica-feed .date {
  text-align: right;
}

#identica-feed p {
  clear: left;
}

#identica-feed img {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

#identica-feed li {
  list-style: none;
  margin-bottom: .5em;
  border-bottom: 1px solid rgb(210,210,210);
  padding-bottom: .5em;
}

