/*
 * Styling for input fields and input-related stuff.
 */

form {
  width: 100%;
}

input[type=input],
input[type=text],
input[type=email],
input[type=url],
input[type=submit],
select,
textarea {
  color: rgb(50,50,50);
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  margin: 5px 0 0 0;
  text-decoration: none;
}

input[type=input],
input[type=text],
input[type=email],
input[type=url],
input[type=submit],
textarea {
  padding: 5px 8px;
}

form.expanded input[type=input],
form.expanded input[type=text],
form.expanded input[type=email],
form.expanded input[type=url],
form.expanded input[type=submit],
form.expanded textarea {
  width: 100%;
}

input[type="image"] {
  margin: 5px 0 0 5px;
  position: absolute;
}

input[_placeholder_on] {
  color: rgb(120,120,120) !important;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
  -moz-box-shadow: 0 0 10px #fffc64;
  -webkit-box-shadow: 0 0 10px #fffc64;
  /* A bug in Opera prevents us from enabling this in that browser. */
}

input[type=submit]:active,
button:active,
.button:active,
input[type=submit].toggled,
button.toggled,
.button.toggled {
  box-shadow: inset 0 1px 2px rgb(180,180,180);
  -moz-box-shadow: inset 0 1px 2px rgb(180,180,180);
  /*
   * A bug in Webkit prevents us from enabling this in Chrome and Safari.
   * Opera listens to box-shadow, while Firefox requires the prefix.
   */
}

input[type=submit] span,
button span,
.button span {
  padding: 0 0 3px 3px;
  background-repeat: no-repeat;
}

/* labels */
form label {
  font-weight: bold;
  display: block;
  padding-left: .2em;
}
