/*
 * Styling for input fields and input-related stuff.
 */

input[type=input],
input[type=text],
input[type=email],
input[type=url],
input[type=submit],
select,
textarea {
  color: rgb(50,50,50);
  text-decoration: none;
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
  font-size: 9pt;
  /*
  background-image: url("/graphics/input-bg.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  border-top: 1px solid rgb(132,132,132);
  border-left: 1px solid rgb(193,193,193);
  border-bottom: 1px solid rgb(225,225,225);
  border-right: 1px solid rgb(193,193,193);
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  */
  padding: 5px 8px;
}

input[type="image"] {
  margin: 5px 0 0 5px;
  position: absolute;
}

/*
input[type=submit],
button,
.button {
  background: white url("../images/input/input-bg.png") repeat-x bottom left;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  cursor: pointer;
  /*text-shadow: rgb(120,120,120) .5px .5px 3px;*/
  /*
   * Opera and WebKit listens to border-radius, while Firefox requires the
   * prefix.
   *
}
*/

input[_placeholder_on] {
  color: rgb(120,120,120);
}

.button-group {
  display: inline;
}

.button-group > * {
  margin-right: -4px;
}

.button-group .button:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius-topright: 0;
  -webkit-border-radius-bottomright: 0;
  border-right: 0;
}

.button-group .button:nth-child(1n+2) {
  border-radius: 0;
  border-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.button-group .button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-radius-topleft: 0;
  -webkit-border-radius-bottomleft: 0;
  -webkit-border-radius-topright: 6px;
  -webkit-border-radius-bottomright: 6px;
  border-right: 1px solid rgb(200,200,200);
}

/*
input.left,
button.left,
.button.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

input.right,
button.right,
.button.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input.middle,
button.middle,
.button.middle {
  border-radius: 0;
  border-right: 0;
}
*/

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
  -moz-box-shadow: 0 0 10px #fffc64;
  -webkit-box-shadow: 0 0 10px #fffc64;
  /* A bug in Opera prevents us from enabling this in that browser. */
}

input[type=submit]:active,
button:active,
.button:active,
input[type=submit].toggled,
button.toggled,
.button.toggled {
  box-shadow: inset 0 1px 2px rgb(180,180,180);
  -moz-box-shadow: inset 0 1px 2px rgb(180,180,180);
  /*
   * A bug in Webkit prevents us from enabling this in Chrome and Safari.
   * Opera listens to box-shadow, while Firefox requires the prefix.
   */
}

.button.toggled {
}

input[type=submit] span,
button span,
.button span {
  padding: 0 0 3px 3px; /*22px;*/
  background-repeat: no-repeat;
}


/* labels */
form label {
  font-weight: bold;
  display: block;
  padding-left: .2em;
}
