/*
 * Stylesheet for printing fsfe.org.
 */

body {
  background: #FFFFFF;
  font-family: "Nimbus Serif L", Georgia, Times, serif;
  font-size: 1em, 12pt;
}

/* Don't use color for links */
a, a:link, a:visited {
  color: #000000;
}

/* Hide things */
#sidebar, #full-menu, #followup, #top, .social-link, #translations, #translations a, #translations ul {
  display: none;
}

#wrapper, #wrapper-inner {
  margin: 0;
  padding:0;
  width: auto;
  border: none;
  box-shadow: none;
}

#wrapper-inner {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0;
}

#header {
  display: none;
}

/* We don't need margins for the content */
#content {
  margin: 0;
  padding: 0;
  width: auto;
}

h1 {
	font-size: 1.8em;
	padding: 0;
	border: 0;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

#content p#category {
	font-size: 1.2em;
}

#formnl {
	display: none;
}

#article-metadata {
	margin: 0;
}

#introduction {
	border: none;
}

#introduction p, p#introduction {
	line-height: inherit;
	margin: 0.8em 0;
	font-size: 1em;
	font-style: italic;
}

/* remove donate box on donation page */
#donate-once {
  display: none;
}

.postit {
  background: #FFFFFF;
}

#footer {
	margin: 0;
	padding: 0;
	font-size: 80%;
	border: 5px #FFFFFF solid;
}

#footer div {
  float: none;
}

#notice {
	float: none;
	margin: 0;
	width: auto;
	padding:0;
}

#notice ul {
	display: none;
}

#contact-us-link strong {
	display: none;
}

#contact-us-link:after {
	content: 'Email: office@fsfe.org';
}

.newsleft dt span, .newsright dt span {
  color: #000000;
}

