/*
 * rtl (right-to-left) languages, such as Arabic and Hewbrew,
 * needs certain elements right aligned, such as sidebar.
 */

#menu {
  left: auto;
  right: 1em !important;
}

#content {
	margin-left: 0;
}

#menu ul {
  /*
	background-image: url("/graphics/corner-rtl.png");
	background-position: top right;
  */
	padding-right: 1.4em;
	padding-left: 0;
}

#menu ul ul {
	padding-right: 0.6em;
	padding-left: 0.6em;
}

#language,
#fundraising {
	margin-right: 220px;
	margin-left: 0;
}

