@import "fsfe.less";

/* apply valentine's day colors*/
@brand-primary: #9E1321;
@brand-secondary: #E24454;
@brand-strong: #9d0000;
@brand-strong-semialpha: lighten(#9d0000, 50%);

#logo {
    background: url(/graphics/logov.png) top left no-repeat;
}
.svg #logo {
    background: url(/graphics/logov.svg) top left no-repeat;
}

#followup {
    background: url(/graphics/ribbonv.png) no-repeat 100% -40px @body-bg; 

    @media (min-width: @screen-sm) {
        background: url(/graphics/ribbonv.png) no-repeat 100% -70px @body-bg; 
    }
}

.svg #followup {
    @media (min-width: @screen-sm) {
        background: url(/graphics/ribbonv.svg) no-repeat 100% -70px @body-bg; 
    }
}
