RewriteEngine On
RewriteRule ^self-conception(.*) /about/principles$1 [redirect=permanent]
RewriteRule ^nanda /about/weiden [redirect=permanent]
RewriteRule ^maffulli - [G,L]
RewriteRule ^jakobs - [G,L]
RewriteRule ^oriordan - [G,L]

# moved here from ../.htaccess because it was ignored there
RewriteRule ^basics/gnuproject(.*) /freesoftware/basics/gnuproject$1 [redirect=permanent]   # FIXME

