.pictures-wall .captioned {
float:left;
}

.pictures-wall .captioned:last-child:after {
clear:both;}

#room404,
#desk,
#programme,
#zimmermann,
#mueller,
#angstalt {
max-height: 400px;
}

#room404, #room404 img {width: 350px;}
#desk, #desk img{width: 350px;}
#programme, #programme img{width: 200px;}
#zimmermann, #zimmermann img{width: 500px;}
#mueller, #mueller img{width: 200px;}
#angstalt, #angstalt img{width: 200px;}
