.pictures-wall .captioned {
float:left;
}

.pictures-wall .captioned:last-child:after {
clear:both;}

#room404,
#desk,
#programme,
#zimmermann,
#mueller,
#angstalt {
height: 500px;
}

#room404
#desk
#programme
#zimmermann
#mueller
#angstalt
