.pictures-wall .captioned {
float:left;
}

.pictures-wall .captioned:last-child:after {
clear:both;}

#room404,
#desk,
#programme,
#zimmermann,
#mueller,
#angstalt {
height: 350px;
}

#room404 {width: 400px;}
#desk{width: 300px;}
#programme{width: 169px;}
#zimmermann{width: 300px;}
#mueller{width: 200px;}
#angstalt{width: 200px;}
