RewriteEngine On
RewriteRule ^rough-guide-for-users(.*) /projects/ftf/useful-tips-for-users$1 [redirect=permanent]
RewriteRule ^rough-guide-for-vendors(.*) /projects/ftf/useful-tips-for-vendors$1 [redirect=permanent]
RewriteRule ^contact(.*) /contact/contact$1\#ftf [redirect=permanent]
RewriteRule ^form(.*) /contact/contact$1\#ftf [redirect=permanent]
