/* Random cruft to start with. */

// Suppress the "category" label that otherwise appears at the top of the page 
p#category {
	display: none;
}

// Suppress bullets in grid boxes
div.box ul, div.box li {
	list-style-type: none;
}

span.external {
	padding-right: 16px;
	background: url("http://www.fsfeurope.org/projects/ftf/external.png") top left no-repeat;
}


/* Each chunk or direction-to-sub-area is called a "package" and can include a
   header, explanatory texts, whatever -- as well as a list of onward links
   for specific topics.
*/

.box h3 {
	margin: 0;
	background: url("http://www.fsfeurope.org/graphics/corner.png") top left no-repeat;
	padding: 8px 1em;
	text-align: left;
	text-decoration: none;
	font-size: medium;
}


/* The continue class is intended to provide deep links into a
   sub area, and should have explanitory general text above it.
*/

.box ul.continue {
	text-align: right;
}

.box ul.continue li {
	list-style: none;
	font-size: x-small;
	margin: 0;
	padding-right: 27px;
	background: url("continue.png") top right no-repeat;
}



