.toc {
  background: rgb(240, 240, 240);
  border: 1px solid #a2a9b1;
  display: inline-block;
  padding: @spacing-2;
  width: 80%;

  &__title {
    font-weight: bold;
    margin-bottom: @spacing-1;
   }

  &__content {
    font-size: .9em;
    line-height: 1.5;
    margin-bottom: 0;
  }
}
