<?xml version="1.0" encoding="ISO-8859-1" ?>
<webfolders>
<foldersdiv>
<folderentry url="http://www.fsf.org/home.fr.html">FSF</folderentry>
<folderentry url="http://www.fsfeurope.org/index.fr.html">FSF Europe</folderentry>
<folderentry url="http://france.fsfeurope.org/index.fr.shtml">FSF France</folderentry>
<folderentry url="http://www.gnu.org/home.fr.html">GNU</folderentry>
<folderentry url="http://es.gnu.org/">GNU Espagne</folderentry>
<folderentry url="http://www.april.org/">April</folderentry>
<folderentry url="http://www.lsfn.org/">LSFN</folderentry>
</foldersdiv>
<foldersdiv>
<folderentry url="http://france.fsfeurope.org/index.fr.shtml">Home</folderentry>
<folderentry url="contact.fr.html">Contact</folderentry>
<folderentry url="thanks.fr.html">Merci</folderentry>
<folderentry url="http://france.fsfeurope.org/stats/">Stats</folderentry>
<folderentry url="http://france.fsfeurope.org/about/about.fr.shtml">A
propos</folderentry>
</foldersdiv>
</webfolders>
<webmenu>
<menudiv>
<title>FSF France</title>
<menuentry url="http://agenda.lolix.org/">Agenda</menuentry>
<menuentry url="http://savannah.gnu.org/pm/task.php?group_project_id=37&amp;group_id=53&amp;func=browse">Tâches</menuentry>
<menuentry url="http://www.gnu.org/jobs/jobsFR.fr.html">Emploi</menuentry>
<menuentry url="http://mailman.fsfeurope.org/mailman/listinfo/france">Mailing List</menuentry>
<menuentry url="http://savannah.gnu.org/project/memberlist.php?group_id=148">Who's who</menuentry>
<menuentry url="http://france.fsfeurope.org/about/about.fr.shtml">A
propos</menuentry>
</menudiv>
<menudiv>
<title>Adminsys</title>
<menuentry url="http://france.fsfeurope.org/server/server.en.shtml">Guide</menuentry>
<menuentry url="http://savannah.gnu.org/projects/fsffr/">Comptes</menuentry>
<menuentry url="http://france.fsfeurope.org/birth/birth.fr.shtml">Naissance</menuentry>
</menudiv>
<menudiv>
<title>Webmaster</title>
<menuentry url="http://france.fsfeurope.org/server/server.en.shtml#Web">Guide</menuentry>
<menuentry url="http://www.gnu.org/server/standards/">Guide GNU</menuentry>
<menuentry url="boilerplate.html">Boilerplate</menuentry>
<menuentry url="http://mailman.fsfeurope.org/mailman/listinfo/web">Mailing
List</menuentry>
</menudiv>
</webmenu>




