/* Random cruft to start with. */

// Suppress the "category" label that otherwise appears at the top of the page 
body div#content p#category {
	display: none;
}

// Suppress bullets in grid boxes
ul.nobullet li {
	list-style: none;
}

span.external {
	padding-right: 16px;
	background: url("https://fsfe.org/activities/ftf/external.png") top right no-repeat;
}


/* The continue class is intended to provide deep links into a
   sub area, and should have explanitory general text above it.
*/

/*ul.continue {
	text-align: right;
}

ul.continue li {
	list-style: none;
	font-size: x-small;
	margin: 0;
	padding-right: 27px;
	background: url("continue.png") top right no-repeat;
}*/



