body {
	/* background-image: url("img/back.jpg"); */
	/* background-repeat: repeat;		  */

	/* Even if a background-image is specified,
	   it's better to have a background-color if
	   the image is not found or being downloaded */
	color: #000000;
	background-color: #ffffff; 

    /* If there is only one value, it applies to all sides,
    If there are four values, they apply to the 
    top, right, bottom, and left, respectively.  */
    margin: 1.1em 2em 5em 2em;
}

a:link { 
	color: #0000ff;
	/* background-color: inherit; */
} 

a:visited { 
	color: #840084;
	/* background-color: inherit; */
} 

a:hover { 
	color: #ff5500;
	/* background-color: inherit; */
} 

a:active { 
	 color: #ff2200;
	/* background-color: inherit; */
} 

h1, h2, h3, h4, h5, h6 {
    /* Augmenting the space on top of headers */
    /* of an amount of 1/2 the orginal margin. */
    margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h6, th, dt, caption	{
    font-family: 'Trebuchet MS', Verdana, 'Myriad Web', Syntax, sans-serif;
}

h1 { 
	color: #ffb685;
	/* background-color: inherit; */
}

h2, h3, h4, h5, h6 {
	color: #000066;
	/* background-color: inherit; */
}

p {
       text-align: justify;
}


/* *************** Tables *************** */
caption {
	font-weight: bold;
	font-size: large;
}

/* 
Descendant selector
td occurring inside a thead 
*/
thead td {
      background-color: #eebbaa;
}

/* 
Descendant selector
td occurring inside a tbody 
*/
tbody td {
      background-color: #efefdd;
}

td {
   /* margin not well supported by Netscape Navigator */
   /* margin: 0.8em; */
   /* background-color: #efefdd; */
}
/* *************** Tables *************** */


img {
    border: 0;
    padding: 0.2em;
}

em {
	font-style: normal;
	font-weight: bold;
	color: maroon;
	/* background-color: inherit; */
}

code {
	font-family: monospace;
}

.codeBlock {
	font-family: monospace;

	color: #000000;
	background-color: #dddddd;

	/* causes some problem on lattest IE >= 5.5 */
	
        margin: 10em;
        padding: 10em;
        border-style: solid;  
        border-width: thin;
        border-color: black;
	
}

.note {
	font-size: small;
}

.warning {	
	text-transform:	none;
	font-style:	normal;
	font-weight:	bolder;
	background:	yellow;
	color:	black;
}	
		
.noTextDecoration {
	text-decoration: none;
}

.noMargin {
	  margin: 0em;
}
 
.cornerIcon {
	    float: right;
}

/* *************** DocBook specific *************** */

.sect1, .sect2 {
    /* Augmenting the space on top of headers */
    /* of an amount of 1/2 the orginal margin. */
    margin-top: 2em;
}

.question {
    font-weight: bold;
}

.answer {
    margin-left: 2em;
    margin-bottom: 3em;
}



